@import 'tailwindcss';

.light {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #bfbfbf;
  --border: #bfbfbf;
  --border: #e5e5e5;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  /* --font-body: var(--font-inter);
  --font-heading: var(--font-nunito); */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
