@import 'tailwindcss';

/* ======================================================= *
/*                         README                         */
/* ======================================================= */

/* SETUP

   Define custom tokens/variables in the .light and .dark class. These variabless will be 
   used in the @theme directive below for tailwind to know the value for the the custom
   classes. .light and .dark tokens should always match, If a variable was added to .light,
   add it to .dark. The "light" or "dark" class will be used in the root layout (@/app/layout.tsx)
   where it can be toggled between each other. Depending on what class is applied to the root, the variables defined inside that class will be used to evaluate the tailwind values.

   @theme directive has a set of defined variable namespaces to create custom classes.
   Read more about it at: "https://tailwindcss.com/docs/theme#theme-variable-namespaces"

  brand-* classes:
   - reusable classes that hold the branding values
   - encode global brand design decisions
   - should be usable anywhere
   - should remain few and stable 
   
   Classes defined in @layer utilities are class combinations. Use them, don't recreate your
   own. Structure related styles can such as padding, display, margins, etc. shall be taken from
   the default tailwind classes, but branding related styles such as colors should be taken from
   the custom classes. This allows us to easily change styles in the future, without code hunting.  
   
   View the temporary localhost:3000/design page to see the brand classes in action!*/

/* ======================================================= */

.light {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --border: #1e1e1e;

  --brand-black-100: #f0f0f0;
  --brand-black-200: #1e1e1e;
  --brand-blue-100: #c3ecf6;
  --brand-blue-200: #57caff;
  --brand-blue-300: #4285f4;
  --brand-green-100: #ccf6c5;
  --brand-green-200: #5cdb6d;
  --brand-green-300: #34a853;
  --brand-yellow-100: #ffe7a5;
  --brand-yellow-200: #ffd427;
  --brand-yellow-300: #f9ab00;
  --brand-red-100: #f8d8d8;
  --brand-red-200: #ff7daf;
  --brand-red-300: #ea4335;
}

.dark {
  /* Website doesnt really have dark mode. But, in the future if there will be a
     dark mode version, copy the variables in .light and replace the values respectively */
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-black-100: var(--brand-black-100);
  --color-brand-black-200: var(--brand-black-200);
  --color-brand-blue-100: var(--brand-blue-100);
  --color-brand-blue-200: var(--brand-blue-200);
  --color-brand-blue-300: var(--brand-blue-300);
  --color-brand-green-100: var(--brand-green-100);
  --color-brand-green-200: var(--brand-green-200);
  --color-brand-green-300: var(--brand-green-300);
  --color-brand-yellow-100: var(--brand-yellow-100);
  --color-brand-yellow-200: var(--brand-yellow-200);
  --color-brand-yellow-300: var(--brand-yellow-300);
  --color-brand-red-100: var(--brand-red-100);
  --color-brand-red-200: var(--brand-red-200);
  --color-brand-red-300: var(--brand-red-300);

  /* --color-muted: var(--muted); */
  --color-border: var(--border);

  --font-sans: var(--font-google-sans-flex);
}

@layer utilities {
  /* Use on any components that has a border.
  
     NOTE: This applies a border on all sides. If you want to not 
     apply a border on a specific side, specify it directly. 
     
     E.g: ".brand-border border-x-0! border-t-0!" 
 
     Code above only applies the brand border at the bottom of the element. */
  .brand-border {
    @apply border-brand-black-200 border-2;
  }

  /* Width cap on certain sections */
  .brand-width-container {
    @apply mx-auto w-full max-w-[1400px] px-4;
  }

  .button-gradient-container {
    background: linear-gradient(
      to right,
      #ea4335,
      #f9ab00,
      #34a853,
      #4285f4,
      #34a853,
      #f9ab00,
      #ea4335
    );
    animation: animate-text-gradient 5s linear infinite;
    background-size: 200%;

    @apply rounded-full;
  }
  .button-gradient {
    mix-blend-mode: screen;
    @apply rounded-full;
  }
}

@keyframes animate-button-gradient {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes animate-text-gradient {
  to {
    background-position: 200%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
