@import 'tailwindcss';

/* ======================================================= *
/*                         README                         */
/* ======================================================= */

/* brand-* classes:
   - reusable classes that hold the branding values
   - encode global brand design decisions
   - should be usable anywhere
   - should remain few and stable
*/

/* ======================================================= */

.light {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --border: #1e1e1e;

  --brand-black-100: #f0f0f0;
  --brand-black-200: #1e1e1e;
  --brand-blue-100: #c3ecf6;
  --brand-blue-200: #57caff;
  --brand-blue-300: #4285f4;
  --brand-green-100: #ccf6c5;
  --brand-green-200: #5cdb6d;
  --brand-green-300: #34a853;
  --brand-yellow-100: #ffe7a5;
  --brand-yellow-200: #ffd427;
  --brand-yellow-300: #f9ab00;
  --brand-red-100: #f8d8d8;
  --brand-red-200: #ff7daf;
  --brand-red-300: #ea4335;
}

.dark {
  /* Website doesnt really have dark mode. But, in the future
  if there will be a dark mode version, add the dark styles here. */
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-black-100: var(--brand-black-100);
  --color-brand-black-200: var(--brand-black-200);
  --color-brand-blue-100: var(--brand-blue-100);
  --color-brand-blue-200: var(--brand-blue-200);
  --color-brand-blue-300: var(--brand-blue-300);
  --color-brand-green-100: var(--brand-green-100);
  --color-brand-green-200: var(--brand-green-200);
  --color-brand-green-300: var(--brand-green-300);
  --color-brand-yellow-100: var(--brand-yellow-100);
  --color-brand-yellow-200: var(--brand-yellow-200);
  --color-brand-yellow-300: var(--brand-yellow-300);
  --color-brand-red-100: var(--brand-red-100);
  --color-brand-red-200: var(--brand-red-200);
  --color-brand-red-300: var(--brand-red-300);

  /* --color-muted: var(--muted); */
  --color-border: var(--border);

  --font-sans: var(--font-google-sans-flex);
}

@layer utilities {
  .brand-border {
    @apply border-brand-black-200 border-2;
  }

  .brand-width-container {
    @apply mx-auto w-full max-w-[1400px] px-4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
